[Desktop Entry]
Name=SOSdsktp
Version=1.0
Exec=sosdsktp
Icon=io.github.monsterbirdlimited.soscap
Terminal=false
Type=Application
Categories=AudioVideo;Recorder
StartupNotify=true
